<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Выберите роль</h1>
        <a href="{{ (url_for('teacher_auth', role='teacher')) }}" class="teacher">Преподаватель</a>
        <a href="{{ (url_for('student_auth', role='student')) }}" class="student">Студент</a>
        <a href="{{ (url_for('admin_auth', role='admin')) }}" class="admin">Администратор</a>
        <a href="{{ (url_for('anonym_page')) }}" class="anonym">Войти анонимно</a>
    </div>
</body>
</html>