<!DOCTYPE html>
<html>
<head>
    <title>Блог новостей</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Блог новостей</h1>
    {% if auth != 1 %}
        <h2  style="color:red">(анонимный режим)</h2>
    {% endif %}
    {% if auth == 1 %}
        <a href="{{ url_for('make') }}">Добавить новую</a><br>
    {% endif %}
    {% for el in news_list %}
    {% if auth==1 or el.is_private == 0 %}
        <div>
            <h2>{{ el.title }}</h2>
            <span>{{ el.content }}</span>
            <p>Автор: {{ el.author }}</p>
            {% if auth == 1 %}
                <a href="{{ url_for('redact', id=el.id) }}">Редактировать</a>
            {% endif %}
        </div>
    {% endif %}
    {% endfor %}
</body>
</html>