<!DOCTYPE html>
<html>
<head>
    <title>Добавить</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Добавить новость</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="title">Название:</label>
        <input type="text" name="title"><br><br>
        <label for="content">Текст:</label>
        <textarea name="content" style="width: 50%; height: 150px; resize: vertical;">
        </textarea><br><br>
        <label for="author">Автор:</label>
        <input type="text" name="author"><br><br>
        <input type="submit" value="Сохранить">
    </form><br><br>
    <a href="{{ url_for('blog', auth=1) }}">Назад к новостям</a>
</body>
</html>