<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <h1 class="regist">Авторизация</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p class="uname">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            <span style="color: red;">
                {{ form.username.errors[0] }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div style="color: red;padding-left:40%;" class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </span><br>
        </p>
        <p class="pass1">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            <span style="color: red;">{{ form.password.errors[0] }}</span><br>
        </p>
        <p class="pass2">
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=32) }}<br>
            <span style="color: red;">{{ form.confirm.errors[0] }}</span><br>
        </p>
        <p class="regist">{{ form.submit() }}</p>
    </form>
</body>
</html>