<!DOCTYPE html>
<html>
<head>
    <title>Хранилище файлов</title>
</head>
<body>
    <h1>Загрузка файлов</h1><br>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Загрузить">
    </form><br><br>

    <table border="1" cellpadding="5">
        <thead>
            <td width="20%">Пользовательское имя файла</td>
            <td width="20%">Путь к файлу</td>
            <td width="20%">Дата загрузки</td>
        </thead>
        {% for i in range(fls|length - 1, -1, -1) %}
        <tr>
            <td>{{fls[i]}}</td>
            <td><a href="{{ url_for('show', file = pathes[i]) }}">{{pathes[i]}}</a></td>
            <td>{{dates[i]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>