<!DOCTYPE html>
<html>
<head>
    <title>Хранилище файлов</title>
</head>
<body>
    <h1>Загрузка файлов</h1><br>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Загрузить">
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br><br>
    <table border="1" cellpadding="5">
        <thead>
            <td width="20%">Пользовательское имя файла</td>
            <td width="20%">Путь к файлу</td>
            <td width="20%">Дата загрузки</td>
        </thead>
        {% for dct in fls %}
        <tr>
            <td>{{dct.filename}}</td>
            <td><a href="{{ url_for('show', file = dct.path) }}">{{dct.path}}</a></td>
            <td>{{dct.dates}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>